* {
  margin: 50;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background: #f1f5f8;
  color: #222;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 0;
  display: grid;
  gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.book h1 {
  margin-top: 0.5 rem;
}

.book h4 {
  margin-top: 0.25rem;
  color: #617d98;
  font-size: 0.85rem;
}

.book h3 {
  margin-top: 0.25rem;
  color: #ff0000;
  font-size: 1.2rem;
}

.book p {
  margin-top: 0.25rem;
  color: #000000;
  font-size: 0.85rem;
  text-align: justify;
}

.book button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  background-color: white; /* Orange */
  border: 0.5px solid #000000;
  padding: 0.5rem 1rem;
  text-align: center;
}

.book button:hover {
  border: 0.5px solid #ff7f00; /* Green */
  background-color: #ff7f00; /* Orange */
  color: white;
  transition-duration: 0.4s;
  border-radius: 8px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5rem 1rem;
  text-align: center;
}
